@import "../../global.scss";

.menu {
  width: 320px;
  max-width: 100%;
  height: calc(100vh - 70px);
  position: fixed;
  top: 70px;
  right: 0;
  z-index: 2;
  background: $mainColor;
  color: white;
  transform: translateX(100%);
  transition: transform 240ms ease;

  &.active {
    transform: translateX(0);
  }

  ul {
    height: 100%;
    margin: 0;
    padding: 42px 34px;
    display: flex;
    flex-direction: column;
    gap: 22px;
    list-style: none;
  }

  li {
    font-size: 1.55rem;
    font-weight: 800;

    a {
      color: white;
    }
  }
}
